<?xml version="1.0" encoding="utf-16"?>
<LayoutRoot xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RootPanel Orientation="Horizontal">
    <LayoutPanel Orientation="Vertical">
      <LayoutDocumentPaneGroup Orientation="Vertical">
        <LayoutDocumentPane Id="d1aa7708-2e9d-4e13-ac78-0e59fb00a7a2" DockWidth="0.906621392190153*" DockHeight="2.19266435129478*" />
      </LayoutDocumentPaneGroup>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="522" FloatingWidth="403" FloatingHeight="855" FloatingLeft="443" FloatingTop="1132">
        <LayoutAnchorablePane Id="493bcd1a-4827-4c01-8399-26d54caab37e" DockHeight="522" FloatingWidth="403" FloatingHeight="855" FloatingLeft="443" FloatingTop="1132" />
      </LayoutAnchorablePaneGroup>
    </LayoutPanel>
    <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="403">
      <LayoutAnchorablePane Id="54450720-13e8-4996-8c40-08f4666c212a" DockWidth="403" DockHeight="2.43385247718796*">
        <LayoutAnchorable AutoHideWidth="367" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Recent Files" ContentId="RecentFilesTool" LastActivationTimeStamp="09/17/2014 12:58:20" />
        <LayoutAnchorable AutoHideWidth="412" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Explorer" IsSelected="True" ContentId="FileExplorerTool" LastActivationTimeStamp="09/17/2014 12:58:34" />
      </LayoutAnchorablePane>
      <LayoutAnchorablePane Id="39abcea3-9367-4abe-8ec6-953e81d61bf2" DockHeight="0.619490617940842*" FloatingWidth="356" FloatingHeight="995" FloatingLeft="1249" FloatingTop="1157">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Log4Net" IsSelected="True" ContentId="Log4NetTool" FloatingLeft="1218" FloatingTop="968" FloatingWidth="356" FloatingHeight="995" LastActivationTimeStamp="09/17/2014 12:58:07" PreviousContainerId="54450720-13e8-4996-8c40-08f4666c212a" PreviousContainerIndex="0" />
        <LayoutAnchorable AutoHideWidth="262" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="File Info" ContentId="FileStatsTool" FloatingLeft="1249" FloatingTop="1157" FloatingWidth="356" FloatingHeight="995" LastActivationTimeStamp="09/17/2014 12:29:53" />
      </LayoutAnchorablePane>
    </LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide>
    <LayoutAnchorGroup PreviousContainerId="493bcd1a-4827-4c01-8399-26d54caab37e">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Log4Net Messages" ContentId="Log4NetMessageTool" FloatingLeft="443" FloatingTop="1132" FloatingWidth="403" FloatingHeight="855" LastActivationTimeStamp="09/17/2014 12:58:39" PreviousContainerId="54450720-13e8-4996-8c40-08f4666c212a" PreviousContainerIndex="2" />
    </LayoutAnchorGroup>
  </BottomSide>
  <FloatingWindows />
  <Hidden />
</LayoutRoot>